<app-error-msg></app-error-msg>

<app-painel-simples titulo="Playlists" col="12" tipo="default" >
  <button class="form-group btn btn-primary" routerLink="/playlist/cadastro">Nova Playlist</button>
  <br>
  
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Id</th>
          <th>Nome</th>
          <th>Descrição</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let playlist of playlists">
          <td>{{playlist.id}}</td>
          <td>{{playlist.nome}}</td>
          <td>{{playlist.descricao}}</td>
          <td><button type="button" class="btn btn-primary btn-sm" routerLink="playlist/{{playlist.id}}/musicas" ><i class="fas fa-list"></i></button></td>
          <td><button type="button" class="btn btn-success btn-sm" routerLink="playlist/editar/{{playlist.id}}" ><i class="fas fa-pencil-alt"></i></button></td>
          <td><button type="button" class="btn btn-danger btn-sm" (click)="deletaPlaylist(playlist.id)"><i class="fas fa-trash-alt"></i></button></td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="!existemPlaylist()">
      <span class="badge badge-info">Nenhuma playlist cadastrada</span>
    </div>
</app-painel-simples>
