<app-error-msg></app-error-msg>

<app-painel-simples titulo="Playlists" col="12" tipo="default" >
  <button class="form-group btn btn-primary" routerLink="/playlist/cadastro">Nova Playlist</button>
  <br>
  
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Id</th>
          <th>Nome</th>
          <th>Descrição</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let playlist of playlists">
          <td>{{playlist.id}}</td>
          <td>{{playlist.nome}}</td>
          <td>{{playlist.descricao}}</td>
          <td><button type="button" class="btn btn-primary btn-sm" routerLink="playlist/{{playlist.id}}/musicas" ><i class="fas fa-list"></i></button></td>
          <td><button type="button" class="btn btn-success btn-sm" routerLink="playlist/editar/{{playlist.id}}" ><i class="fas fa-pencil-alt"></i></button></td>
          <td><button type="button" class="btn btn-danger btn-sm" (click)="deletaPlaylist(playlist.id)"><i class="fas fa-trash-alt"></i></button></td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="!existemPlaylist()">
      <span class="badge badge-info">Nenhuma playlist cadastrada</span>
    </div>
    <div class="text-center">
      <i *ngIf="page.number" (click)="getListaPlaylists(page.number -1, size)" class="fas fa-angle-double-left"></i>
      <label [ngClass]="page.number === i? 'atual': ''" class="number" (click)="getListaPlaylists(i, size)" *ngFor="let i of totalPages()">{{i+1}}</label>
      <i *ngIf="page.number < page.totalPages -1" (click)="getListaPlaylists(page.number +1, size)" class="fas fa-angle-double-right"></i>
    </div>
</app-painel-simples>
