<app-error-msg></app-error-msg>

<app-painel-simples titulo="Músicas" col="12" tipo="default" >
  <button class="form-group btn btn-primary" routerLink="/playlist/{{id}}/musicas/cadastro">Nova Música</button>
  <button class="form-group btn btn-light" routerLink="/">Voltar</button>
  <br>
  
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Id</th>
          <th>Titulo</th>
          <th>Banda</th>
          <th>Nota</th>
          <th>Playlist</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let musica of musicas">
          <td>{{musica.id}}</td>
          <td>{{musica.titulo}}</td>
          <td>{{musica.banda}}</td>
          <td>{{musica.nota}}</td>
          <td>{{musica.playlist.nome}}</td>
          <td><button type="button" class="btn btn-success btn-sm" routerLink="/playlist/{{musica.playlist.id}}/musicas/editar/{{musica.id}}" ><i class="fas fa-pencil-alt"></i></button></td>
          <td><button type="button" class="btn btn-danger btn-sm" (click)="deletaMusica(id, musica.id)" ><i class="fas fa-trash-alt"></i></button></td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="!existemMusicas()">
        <span class="badge badge-info">Nenhuma musicas cadastrada</span>
      </div>
    
</app-painel-simples>

